body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
}

.navbar .logo {
    font-size: 1.5em;
    font-weight: bold;
}

.navbar .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar .nav-links li {
    margin-left: 1em;
}

.navbar .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
}

.navbar .nav-links a:hover {
    text-decoration: underline;
}

main {
    padding: 2em;

}

.header {
    font-size: 2em;
    margin-bottom: 1em;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1em;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.search-bar input,
.search-bar select {
    padding: 0.5em;
    font-size: 1em;
    margin-right: 1em;
    flex-grow: 1;
}

.search-bar button {
    padding: 0.5em 1em;
    font-size: 1em;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #555;
}

.team-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.team-card {
    padding: 1em;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.team-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.team-card h3 {
    margin: 0.5em 0;
}

.team-card p {
    margin: 0.5em 0;
    color: #666;
}

.team-card button {
    padding: 0.5em 1em;
    font-size: 1em;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.team-card button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: 100px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 50px;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
}